.footer-logo {
    padding-right: 10px;
}

.footer-logo-text {
    font-size: xx-large;
    padding-left: 10px;
}

.footer-copyright, .footer-copyright-logo {
    align-self: center;
}

.footer-copyright-text {
    text-align: center;
}

@media(max-width: 400px) {
    .footer-logo-text {
        font-size: x-large;
    }
    .footer-logo {
        padding-right: 0px;
    }
}

@media(max-width: 315px) {
    .footer-logo-text {
        font-size: large;
    }   
}