@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontFamilyLily: var(--lily);
  --fontFamilyAbel: var(--abel);
  --fontFamilyUbuntu: var(--ubuntu);
}

html,
body {
  @apply bg-gray-100;

  font-family: var(--fontFamilyUbuntu) !important;
}
