.about-container {
  text-align: center;
}

.about-portada {
  background-image: url('/aboutBanner.png');
  background-size: cover;
}

.about-portada-first {
  width: 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
}

.about-gallery {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-first,
.about-second {
  font-size: x-large;
}

/*  Media queries    */
@media (max-width: 800px) {
  .about-portada-first {
    width: 40%;
    font-size: small;
  }
  .about-first,
  .about-second {
    font-size: large;
  }
}

@media (max-width: 600px) {
  .about-first,
  .about-second {
    font-size: medium;
  }
}

@media (max-width: 450px) {
  .about-portada-first {
    width: 50%;
  }
}
